body {
 font-family: Arial;
 background-color: #f4f4f4;
}

.container {
 width: 400px;
 margin: 100px auto;
 padding: 20px;
 background: white;
 border-radius: 8px;
 box-shadow: 0 0 10px #ccc;
}

input {
 width: 100%;
 padding: 8px;
 margin: 8px 0;
}

button {
 padding: 10px;
 width: 100%;
 background-color: #4CAF50;
 color: white;
 border: none;
 cursor: pointer;
}